<nav ngbNav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a ngbNavItem ngbNavLink routerLink="/" class="navbar-brand"  [routerLink]="'.'">
    <img width="40" height="40" src="assets/icons/surveylogo.png">
    Student survey system
  </a>

  <button *ngIf="isAuthenticated" class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [collapse]="isMenuCollapsed" [isAnimated]="true" class="collapse navbar-collapse" *ngIf="isAuthenticated">
    <ul class="navbar-nav">
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/SurveysResults"><img class="nav-icon" src="assets/icons/result.png"> Survey results</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/Surveys"><img class="nav-icon" src="assets/icons/surveyicon.png"> My surveys</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/SurveyTemplates"><img class="nav-icon" src="assets/icons/template.png"> My survey templates</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a (click)="onUpdateCoursesClick(content)" class="nav-link"><img class="nav-icon" src="assets/icons/update.png"> Update courses from USOS</a>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto">
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/About">
          <img width="25" height="25" src="assets/icons/info.png">
          About</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <button class="btn btn-outline-danger" (click)="onLogout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>

<ng-template #content>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Your courses has been updated from USOS!
  </div>
</ng-template>
