.about{
  position: absolute;
  top: 30vh;
  left: 50%;
  width:350px;
  padding: 10px;
  border-radius: 25px;
  background-color: white;
  transform: translate(-175px);
  -webkit-transform: translate(-175px);
  -ms-transform: translate(-175px);
}
