<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Question form</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]='questionForm' (ngSubmit)="onSubmit()" class="container">
    <div class="form-group row">
        <label class="col-form-label col-md-2" for="Index">Index</label>
        <div class="col-md-10">
            <input class="form-control" [formControl]="index" type="number">
            <div [hidden]="index.valid || index.untouched" class="alert alert-danger">Question text is required.</div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-md-2" for="QuestionText">Question</label>
        <div class="col-md-10">
            <input class="form-control" [formControl]="questionText" type="text">
            <div [hidden]="questionText.valid || questionText.untouched" class="alert alert-danger">Question text is required.</div>
        </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-md-2" for="QuestionType">Question type</label>
      <div class="col-md-10">
        <select [formControl]="questionType" required id="QuestionType" class="form-control" name="QuestionType">
          <option *ngFor="let type of questionTypes" [ngValue]="type">{{type}}</option>
        </select>
        <div [hidden]="questionType.valid || questionType.untouched" class="alert alert-danger">Choose question type.</div>
      </div>
    </div>
    <div [formGroup]="questionForm.get('validationConfig')">
      <div *ngIf="questionType.value === 'Numeric'">
        <div class="form-group row">
          <div class="col-sm-2">Integer</div>
          <div class="col-sm-10">
            <div class="form-check">
              <input [formControl]="integer" type="checkbox" class="form-check-input">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-md-2" for="MinNumericValue">Min value</label>
          <div class="col-md-10">
              <input [formControl]="minNumericValue" class="form-control" type="number">
              <div [hidden]="minNumericValue.valid || minNumericValue.untouched" class="alert alert-danger">Enter valid number.</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-md-2" for="MaxNumericValue">Max value</label>
          <div class="col-md-10">
              <input class="form-control" [formControl]="maxNumericValue" type="number">
              <div [hidden]="maxNumericValue.valid || maxNumericValue.untouched" class="alert alert-danger">Enter valid number.</div>
          </div>
        </div>
        <div [hidden]="!questionForm.errors?.minMaxNumeric || maxNumericValue.untouched" class="alert alert-danger">Max must be bigger than min.</div>
      </div>
      <div *ngIf="questionType.value === 'Date'">
        <div class="form-group row">
          <label class="col-form-label col-md-2" for="MinDate">Min date</label>
          <div class="col-md-8">
            <input bsDatepicker  [formControl]="minDateValue" class="form-control" type="text">
          </div>
          <div class="col-md-2">
            <button class="btn btn-info" style="width: 100%;" type="button" (click)="minDateValue.setValue(null)">Clear</button>
          </div>
          <div [hidden]="minDateValue.valid || minDateValue.untouched" class="alert alert-danger">Enter valid date.</div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-md-2" for="MaxDate">Max date</label>
          <div class="col-md-8">
            <input bsDatepicker [formControl]="maxDateValue" class="form-control"  type="text">
          </div>
          <div class="col-md-2">
            <button class="btn btn-info" style="width: 100%;" type="button" (click)="maxDateValue.setValue(null)">Clear</button>
          </div>
          <div [hidden]="maxDateValue.valid || maxDateValue.untouched" class="alert alert-danger">Enter valid date.</div>
        </div>
        <div [hidden]="!questionForm.errors?.minMaxDate || maxNumericValue.untouched" class="alert alert-danger">Max date must be after min.</div>
      </div>
      <div *ngIf="questionType.value === 'Text'">
        <div class="form-group row">
          <label class="col-form-label col-md-2" for="QuestionText">Regex</label>
          <div class="col-md-10">
              <input [formControl]="regex" class="form-control" id="Regex" name="Regex" type="text">
              <div [hidden]="!questionForm.errors?.regex || regex.untouched" class="alert alert-danger">Regex is invalid.</div>
          </div>
        </div>
      </div>
      <div *ngIf="questionType.value === 'SingleSelect' || questionType.value === 'MultipleSelect'">
        <hr>
        <div class="form-group row">
          <div class="col-md-2"><button class="btn btn-info" type="button" (click)="onAddValue()">Add value</button></div>
          <div class="col-md-10">
            <input [formControl]="value" placeholder="value" class="form-control" type="text">
            <div [hidden]="!questionForm.errors?.values" class="alert alert-danger">You must add at laest one value.</div>
          </div>

        </div>
        <table class="table table-light">
          <thead class="thead-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">Value</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let val of values.value; let i = index" style="cursor: pointer;" (click)="onValueEditClicked(i)">
            <th scope="row">
              <a class="action-link" (click)="onValueDeleteClicked(i)"><img class="list-icon" src="assets/icons/delete.png"/></a>
            </th>
            <td>{{val}}</td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
    <button [disabled]="questionForm.invalid" class="btn btn-primary" type="submit">Save</button>

  </form>


  <hr/>
</div>
