<div class="form-group form-inline p-2">
  Title: <input class="form-control ml-2" type="text" [(ngModel)]="filterText" (change)="onFilter()" />
</div>

<div
infinite-scroll
[infiniteScrollDistance]="1"
[infiniteScrollThrottle]="300"
(scrolled)="onScrollDown()">
  <table class="table table-light">
    <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Course</th>
      <th scope="col">Active</th>
      <th scope="col">End date</th>
      <th scope="col">Anonymous</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let survey of surveys; index as i" style="cursor: pointer;" [routerLink]="[survey.id]">
      <th scope="row">
        <img *ngIf="surveyListType===0" class="list-icon" src="assets/icons/result.png">
        <img *ngIf="surveyListType===1" class="list-icon" src="assets/icons/surveyicon.png">
        <img *ngIf="surveyListType===2" class="list-icon" src="assets/icons/template.png">
      </th>
      <td><ngb-highlight [result]="survey.name" ></ngb-highlight></td>
      <td><ngb-highlight [result]="survey.courseName"></ngb-highlight></td>
      <td><ngb-highlight [result]="survey.active"></ngb-highlight></td>
      <td><ngb-highlight [result]="survey.endDate | date"></ngb-highlight></td>
      <td><ngb-highlight [result]="survey.anonymous"></ngb-highlight></td>
    </tr>

    </tbody>
  </table>
</div>
