<div class="row mt-2">
  <div class="form-group form-inline col-md-6">
    Title: <input class="form-control ml-2" type="text" [(ngModel)]="filterText" (change)="onFilter()" />
  </div>

  <div *ngIf="surveyListType !== 0" class="col-md-6">
    <button (click)="onAdd()" class="btn btn-primary">Add</button>
  </div>
</div>

<div
infinite-scroll
[infiniteScrollDistance]="1"
[infiniteScrollThrottle]="300"
(scrolled)="onScrollDown()">
  <table class="table table-light">
    <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Course</th>
      <th scope="col">End date</th>
      <th scope="col">Anonymous</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let survey of surveys" style="cursor: pointer" [ngClass]="{draft: surveyListType !== 0 && survey.status === 'Draft', active:  surveyListType !== 0 && survey.status === 'Active', ended:  surveyListType !== 0 && survey.status ==='Ended' }" (click)="onNavigate(survey.id, survey.status)">
      <th scope="row">
        <img *ngIf="surveyListType===0" class="list-icon" src="assets/icons/result.png">
        <img *ngIf="surveyListType===1" class="list-icon" src="assets/icons/surveyicon.png">
        <img *ngIf="surveyListType===2" class="list-icon" src="assets/icons/template.png">
      </th>
      <td>{{survey.name}}</td>
      <td>{{survey.courseName}}</td>
      <td>{{survey.endDate | date}}</td>
      <td>{{survey.anonymous}}</td>
      <td>{{survey.status}}</td>
    </tr>

    </tbody>
  </table>
</div>
