.form{
  margin-top: 20px;
  background-color: white;
  border-radius: 15px;
}

.tbody {
  height: 50px !important;
  overflow-y: scroll;
}

.my-tbody {
  height:30px;
  display:block;
  overflow-y:scroll;
  width:100%;
}

tbody {
  width: 100%;
}

tr {
  width: 100%;
}

td {
  width: 25%;
}
