<div class="form">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Survey {{survey?.isTemplate ? 'template' : ''}} form</h4>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="surveyForm" class="container">
      <div class="form-group row">
          <label class="col-form-label col-md-2" for="Title">Title</label>
          <div class="col-md-10">
              <input [formControl]="name" class="form-control" type="text">
              <div [hidden]="name.valid || name.untouched" class="alert alert-danger">Title is required.</div>
          </div>
      </div>
      <div class="form-group row">
          <label class="col-form-label col-md-2" for="EndDate">End date</label>
          <div class="col-md-10">
            <input [formControl]="endDate" bsDatepicker class="form-control" type="text">
            <div [hidden]="endDate.valid || endDate.untouched" class="alert alert-danger">Podaj poprawną datę.</div>
          </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2">Anonymous</div>
        <div class="col-sm-10">
          <div class="form-check">
            <input [formControl]="anonymous" type="checkbox" class="form-check-input">
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2">Is active</div>
        <div class="col-sm-10">
          <div class="form-check">
            <input [formControl]="active" type="checkbox" class="form-check-input">
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-2" for="Status">Semester</label>
        <div class="col-md-10">
          <select [formControl]="semester" class="form-control" (change)="onSemesterSelect()" >
            <option *ngFor="let semester of semesters" [ngValue]="semester">{{semester.name}}</option>
          </select>
          <div [hidden]="semester.valid || semester.untouched" class="alert alert-danger">Choose semester.</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-md-2" for="Status">Course</label>
        <div class="col-md-10">
          <select [formControl]="courseId" class="form-control">
            <option *ngFor="let course of courses" [ngValue]="course.id">{{course.name}}</option>
          </select>
          <div [hidden]="courseId.valid || courseId.untouched" class="alert alert-danger">Choose semester and course.</div>
        </div>
      </div>

      <button class="btn btn-info" type="button" (click)="onAddQuestion()">Add question</button>
      <div [hidden]="questions.valid" class="alert alert-danger">You must specify at least 1 question.</div>

      <table class="table table-light">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Actions</th>
          <th scope="col">Index</th>
          <th scope="col">Question text</th>
          <th scope="col">Question type</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let question of survey.questions; let i = index" style="cursor: pointer;" (click)="onQuestionEditClicked(i)">
          <th scope="row">
            <a class="action-link" (click)="onQuestionDeleteClicked(question.id)"><img class="list-icon" src="assets/icons/delete.png"/></a>
          </th>
          <td>{{question.index}}</td>
          <td>{{question.questionText}}</td>
          <td>{{question.questionType}}</td>
        </tr>

        </tbody>
      </table>
      <button class="btn btn-primary" [disabled]="surveyForm.invalid" type="submit">Save</button>
    </form>


    <hr/>
  </div>
</div>

<ngx-spinner name="form"></ngx-spinner>
